* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-weight: normal;
}

/* HOME PAGE STYLING  */

p {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h6 {
  font-family: "Noto Serif Display", serif;
  font-weight: normal;
  letter-spacing: 4px;
}


nav {
  background: #fbeee6;
  height: 20em;
  width: 100%;
  padding: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav ul {
  display: flex;
  /* justify-self: flex-end; */
  flex-wrap: wrap;
  list-style: none;
  float: right;
  margin: 0.2em;
}

nav ul li {
  font-family: "Noto Serif Display", serif;
  /* font-family: "Montserrat", sans-serif; */
  padding: 0.75em;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline;
  flex-wrap: wrap;
  letter-spacing: 0.25em;
}

nav ul li a {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  flex-wrap: wrap;
}

nav ul li a:hover {
  color: rgb(244, 217, 247); /* change hover colour to desired colour! */
}

nav ul li a:active {
  color: white;
}

.topnav {
  display: flex;
  flex-direction: row;
  padding; 0 3em 0 3em;
}

#logo {
  width: 50vw;
  display: block; */
  padding-left: 0.3em;
  padding-bottom: 0;
  padding-top: 3em;
}

body {
  background: #fbeee6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.herosection {
  /* padding: 2.8em; */
}

.herosection h1 {
  font-size: 4em;
  margin-bottom: 0.5em;
  margin-top: 3em;
}

#subheading {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
}

.herosection p,
div p {
  font-size: 1.3em;
  line-height: 2em;
  padding: 0.3em;
}

.herosection img {
  width: 150%;
  position: absolute;
  z-index: -1;
  align-self: top;
  right: 100px;
  padding-top: 0px;

  /* transition: 5s; add animation to make disc roll */
}

div {
  line-height: 2em;
  padding: 2em;
}

div h1 {
    line-height: 2em;
}

div h2 {
  font-size: 2em;
  line-height: 2em;
}


div p {
  font-size: 1em;
}


#whitecircle {
    position: absolute;
    z-index: -1;
    width: 70%;
    padding-top: 150px;
    left: 230px;
}

footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
}

/* PROJECTS PAGE STYLING */

#plant {
  width: 300px;
  float: right;
  /* top: 300px; */
}

/* ABOUT PAGE  */

#abouthero {
    padding-top: 0;
}

#abouthero h1 {
    padding-bottom: 0.5em;
    margin: 0;
}

/* PROJECTS PAGE */

.project {
    background:rgb(255, 255, 255);
    padding: 3em;
    margin: 0.3em;
    margin-bottom: 8em;
}

.project {
    text-align: center;
}

.project img {
    width: 60vw;
}

.project p {
    margin: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.project h2 {
    font-weight: bold;
}

.project h3 {
    line-height: 3em;
    font-size: 2em;
    font-weight: bold;
    font-style:italic;
}


/* rules for when it changes to tablet */
@media only screen and (min-width: 400px) and (max-width: 899px) {
  /* turn nav items back into one row and make their font smaller */
#logo {
    float: left;
    display:inline-block;
}

nav ul {
        display: in-line;
        display: flex;
        flex-direction: row;
        width: 70%;
        /* padding-top: 6em; */
    }

    nav ul li {
        flex-direction: row;
        font-size: 0.8em;
    }

}

/* rules for when it changes to desktop */
@media only screen and (min-width: 900px) {
  /* nav items back into one row with bigger font */
    #logo {
        float: left;
        padding: 1.5em;
        padding-right: 0;
        position: absolute;
        width: 30vw;
    }

    nav ul {
        display: inline;
        display: flex;
        flex-direction: row;
        justify-content: right;
        width: 70%;
        padding-top: 6em;
        padding-right: 4em;
    }

    nav ul li {
        flex-direction: row;
        font-size: 1em;
    }

    nav ul li a {
    padding: 0;
    }
    
    .topnav {
        padding: 0;
        justify-content: flex-end;
        float: right;
        display: flex;
        flex-direction: row;

    }

}
